<div class="flex mx-5">

  <table matSort>
    <tr
      class="sticky top-0 h-12 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
      <td class="padding-l-40" mat-sort-header="id">Nr. Ord</td>
      <td mat-sort-header="nome">Nome</td>
      <th mat-sort-header="entidadeTipoId">Descrição</th>
      <th mat-sort-header="email">Duração</th>
    </tr>

    <tr *ngFor="let curso of this.dataSource;"
      class="h-10 border-b cursor-p">
      <td class="padding-l-40">{{curso.id}}</td>
      <td>{{curso.nome}}</td>
      <td>{{curso.descricao}}</td>
      <td>{{curso.duracao}}</td>
      <!-- <td>
        <ng-container>
          <mat-icon class="text-green-400 icon-size-5" [svgIcon]="'heroicons_solid:check'"></mat-icon>
        </ng-container>
        <ng-container>
          <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
        </ng-container>
      </td> -->

    </tr>
  </table>


</div>