<div class="flex flex-col min-h-full h-full h-full w-full">
  <div class="flex items-center w-full h-16 bg-[#162343] text-white px-2">
    <mat-toolbar class="flex justify-between">
      <button mat-icon-button class="mr-5" aria-label="Menu" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a href="/" class="flex items-center gap-2">
        <!-- <span class="text-lg font-bold">Lumen</span> -->
        <img class="w-12" src="assets/logo.png" alt="">
      </a>
    </mat-toolbar>
  </div>

  <div class="flex w-full h-full">

    <mat-drawer-container class="side-height w-full" autosize>
      <mat-drawer #drawer class="h-full shadow-sm border border-y-0" mode="side" [opened]="true">
        <div class="flex flex-col w-44 h-full text-gray-600 font-semibold">
          <a href="/">
            <div class="flex items-center p-4 gap-1 hover:bg-gray-100">
              <mat-icon>home</mat-icon>
              <span class="text-lg">Home</span>
            </div>
          </a>

          <a href="/cursos">
            <div class="flex items-center p-4 gap-1 hover:bg-gray-100">
              <mat-icon>chrome_reader_mode</mat-icon>
              <span class="text-lg">Cursos</span>
            </div>
          </a>

          <a href="/alunos">
            <div class="flex items-center p-4 gap-1 hover:bg-gray-100">
              <mat-icon>person</mat-icon>
              <span class="text-lg">Alunos</span>
            </div>
          </a>
        </div>
      </mat-drawer>

      <router-outlet></router-outlet>

    </mat-drawer-container>

  </div>
</div>